.hero {
    z-index: -1; // to show the sidebar over the hero section
    height: calc(100vh - 100px);
    background: linear-gradient(180deg, #0c0c1d, #111132);
    position: relative;
    overflow: hidden;

    .imageContainer {
        position: absolute;
        height: 100%;
        bottom: 150px;
        right: -120px;
        scale: 0.7;
    }

    .slidingTextContainer {
        position: absolute;
        font-size: 50vh;
        bottom: -70px;
        white-space: nowrap;
        color: #ffffff09;
        width: 50%;
        font-weight: bold;
    }

    .wrapper {
        max-width: 1200px;
        height: 100%;
        margin: auto;

        .textContainer {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 40px;

            h2 {
                color: rebeccapurple;
                font-size: 30px;
                letter-spacing: 10px;
            }

            h1 {
                font-size: 70px;
            }

            .buttons {
                button {
                    padding: 20px;
                    border: 1px solid white;
                    border-radius: 10px;
                    background-color: transparent;
                    color: white;
                    margin-right: 20px;
                    cursor: pointer;
                    font-weight: 300;
                }
            }

            img {
                width: 50px;
            }
        }
    }

}