@import '../../app/page.scss';

.navbar {
    height: 100px;
    .wrapper {
        max-width: 1200px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        // margin: 0 120px;  
        @include mobile {
            justify-content: flex-end;
            padding: 20px;
        }     

        span {
            font-weight: bold;
            font-size: 22px;
            
            @include mobile {
                display: none;
            }
        }

        .social {
            display: flex;
            gap: 20px;
        }
    }
}